  <form action="POST">
    <h1>Question 1</h1>
    {{!-- needs action attribute? --}}
    {{!-- Do we need our forms within a main form to send all data to post? --}}
    <input type="radio" name="question 1">answer 1 
    <input type="radio" name="question 1">answer 2
    <input type="radio" name="question 1">answer 3
    <input type="radio" name="question 1">answer 4
  </form>

<button>Submit!</button>


