<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
	<title>
		Results
	</title>
	<style>
		/* Styling the Body element i.e. Color,
		Font, Alignment */
		body {
			background-color:pink;
			font-family: Arial, Helvetica, sans-serif;
			text-align: center;
		}

</style>

</head>
<body>
<h1>YOU GOT...</h1>
<h3 style="font-size: 70px;">ZAC</h3>

<img alt="this shows, its not working" src="/images/zac.jpeg" style="height:500px", "width:500px">
<p style="font-size: 50px;">Congrats! You got warm-hearted, Zac! You’re known to be hard-working, friendly, loyal, honest and love closing your eyes during lectures as it makes the information absorb better.</p>
</body>
</html>